@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

header > h1 {
    padding-top: 50px;

    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    
}

header > p {
    padding-bottom: 50px;
    font-size: 1.3em;
}

body {
    background-color: black;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte3);
    font-weight: 550;
}

section {
    padding-block: 10vh;
    font-size: 3.5vw;
}

section.normal {
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

section.imagem {
    padding-left: 30px;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;

    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.imagem > p {
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
}

section#img1 {
    background-image: url(Imagens/background001.jpg);
    background-color: #012000;
}

section#img2 {
    background-image: url(Imagens/background002.jpg);
    background-color: rgba(245, 245, 245, 0.822);
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1em;
}
